.App1 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container, .container-fluid {
  margin-top: 0px;
}  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header1 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;

}
.man{
	margin : 0 auto;
}
.back1 {
  align-items: center;
  justify-content: center;
    text-align: center;
}
.Back{
	background-color: #282c34;
	min-height: 100vh;
	color: white;
}

.spatire{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right:30px;
}

.padding-file {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.padding-form {
  padding-left: 50px;
}


